AURA_ENV=production
DJANGO_DEBUG=0
DJANGO_SECRET_KEY=cambia-esto-por-una-clave-secreta-real
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,aura.binnso.com

DB_ENGINE=django.db.backends.postgresql
DB_NAME=aura
DB_USER=aura
DB_PASSWORD=cambia-esto-por-una-password-segura
DB_HOST=localhost
DB_PORT=5432
DB_CONN_MAX_AGE=120

DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_SESSION_COOKIE_SECURE=1
DJANGO_CSRF_COOKIE_SECURE=1
DJANGO_CSRF_TRUSTED_ORIGINS=https://aura.binnso.com
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=1
DJANGO_SECURE_HSTS_PRELOAD=1

DJANGO_CORS_ALLOWED_ORIGINS=https://aura.binnso.com
DJANGO_RATE_AUTH_LOGIN=12/min
DJANGO_RATE_AUTH_REGISTER=20/min
DJANGO_RATE_AUTH_PASSWORD_RECOVERY=8/min
DJANGO_RATE_AUTH_PASSWORD_CHANGE=20/min
DJANGO_RATE_SUPERADMIN_OPS=120/min

# Email (SMTP) for password reset / notifications
DJANGO_DEFAULT_FROM_EMAIL=no-reply@aura.binnso.com
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=smtp-relay.brevo.com
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_HOST_USER=tu_usuario_smtp
DJANGO_EMAIL_HOST_PASSWORD=tu_password_smtp
DJANGO_EMAIL_USE_TLS=1
DJANGO_EMAIL_USE_SSL=0
DJANGO_EMAIL_TIMEOUT=20
DJANGO_EMAIL_SUBJECT_PREFIX=[Aura]
DJANGO_EMAIL_ENCRYPTION_KEY=cambia-esto-por-una-passphrase-larga-y-unica
